.ui-content {
    background: url("../img/else_background_mobile.png") !important;
    background-repeat:repeat !important;
    background-position:center center !important;
    background-size: contain !important;
}