<!DOCTYPE html>
<html>
<head>
    <title>Elseping</title>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
<div data-role="page">
    <div data-role="header">
        <h1> Else Ping </h1>
        <a href="/"  class="ui-btn ui-corner-all ui-shadow ui-icon-home ui-btn-left ui-btn-icon-notext">Home</a>
        <a href="/admin/" target="_blank" class="ui-btn ui-corner-all ui-shadow ui-icon-gear ui-btn-icon-left ui-btn-icon-notext">Admin</a>
    </div>

    <div class="ui-content" role="main">