{% include "header.html" %}

    <form action="{% url 'task-ball-next' %}" method="POST">
        {% csrf_token %}
        <input type="number" name="ball_number" id="ball_number" value="" placeholder="Deine Ball Nummer">
        <input value="Ok" type="submit">
    </form>

    <div data-role="navbar">
      <ul>
        <li><a href="{% url 'task-next' %}" class="ui-btn">Nächste Aufgabe</a></li>
        <li><a href="{% url 'task-list' %}" class="ui-btn">Wähle aus Liste</a></li>
      </ul>
    </div>

{% include "footer.html" %}
