{% include "header.html" %}

<div data-role="collapsible-set">
    <ul data-role="listview">
        <li data-role="list-divider">
            <h3>Heute</h3>
        </li>
        {% for task in tasks_today %}
        <div data-role="collapsible">
            <h2>{{ task.name }}</h2>
            <p>
                <ul data-role="listview">
                    <li><a href="{% url "task-view" task.id %}" >DO-IT!</a></li>
                </ul><br>
                {{ task.description | safe}}
            </p>
        </div>
        {% endfor %}
    </ul>
    <ul data-role="listview">
        <li data-role="list-divider">
            <h3>Morgen</h3>
        </li>
        {% for task in tasks_tomorrow %}
        <div data-role="collapsible">
            <h2>{{ task.name }}</h2>
            <p>
                <ul data-role="listview">
                    <li><a href="{% url "task-view" task.id %}" >DO-IT!</a></li>
                </ul><br>
                {{ task.description | safe}}
            </p>
        </div>
        {% endfor %}
    </ul>
    <ul data-role="listview">
        <li data-role="list-divider">
            <h3>Nächsten 7 Tage</h3>
        </li>
        {% for task in tasks_this_week %}
        <div data-role="collapsible">
            <h2>{{ task.name }}</h2>
            <p>
                <ul data-role="listview">
                    <li><a href="{% url "task-view" task.id %}" >DO-IT!</a></li>
                </ul><br>
                {{ task.description | safe}}
            </p>
        </div>
        {% endfor %}
    </ul>
    <ul data-role="listview">
        <li data-role="list-divider">
            <h3>Nächsten 30 Tage</h3>
        </li>
        {% for task in tasks_this_month %}
        <div data-role="collapsible">
            <h2>{{ task.name }}</h2>
            <p>
                <ul data-role="listview">
                    <li><a href="{% url "task-view" task.id %}" >DO-IT!</a></li>
                </ul><br>
                {{ task.description | safe}}
            </p>
        </div>
        {% endfor %}
    </ul>
</div>

{% include "footer.html" %}


