{% include "header.html" %}
{% if ball_number %}
		<div id="ui-bar-test" class="ui-bar ui-bar-a ui-corner-all" style="margin-bottom:1em;">
		<p>Du hast den Ball <strong>#{{ ball_number }}</strong> gezogen, dir wird folgende Aufgabe zugeteilt.</p>
		</div>
{% endif %}
<p>
    Aufgabe <strong> #{{ task.id }} "{{ task.name }}"</strong>
    wurde zuletzt am {{ task.last_complete }} erledigt und soll alle {{ task.repeat_factor }} Tage wiederholt werden.
    <pre>
        {{ task.description }}
    </pre>
</p>
{% if task.repeat_factor > 1 %}
    <a href="{% url "task-complete" task_id=task.id %}" class="ui-btn ui-corner-all ui-shadow ui-icon-gear ui-btn-icon-left ui-btn-active">Aufgabe durchgeführt</a>
{% endif %}
{% if task.is_needed %}
    <a href="{% url "task-noneed" task_id=task.id %}" class="ui-btn ui-corner-all ui-shadow ui-icon-gear ui-btn-icon-left ui-btn-active">Aufgabe ist aktuell unnötig</a>
{% endif %}
{% include "footer.html" %}

